.color h3, .tab-product .nav-tabs>li.active>a, .tab-product .nav-tabs>li.active>a:focus, .tab-product .nav-tabs>li.active>a:hover, .table-product tr th {
	color: #fff;
	background: #0a2c3c
}
.num-review li, .relate-product li {
	list-style: none
}
.num-review li, .over-review, .top-detail {
	overflow: hidden
}
.relate-product li {
    margin-bottom: 20px;
}
.slider-for .slick-slide img {
	height: 400px;
	width: 100%;
	object-fit: cover
}
.slider-nav .slick-slide img {
	width: 100%;
	height: 80px;
	object-fit: cover
}
.slider-nav .slick-slide {
	margin-right: 10px
}
.slider-nav .slick-list {
	text-align: center
}
.slider-nav .slick-track {
	display: inline-block
}
.slider-nav {
	padding-left: 40px;
	padding-right: 30px
}
.tab-product .tab-content {
	padding: 20px 0px
}
.tab-product .nav-tabs>li>a {
	border: 1px solid #ccc;
	border-radius: 0
}
.color h3 {
	margin-top: 0;
	margin-bottom: 20px;
	padding: 8px;
	font-size: 14px
}
.list-color .slick-slide img {
	width: 100%;
	height: 60px;
	object-fit: cover
}
.list-color .slick-slide {
	margin-right: 5px;
	margin-left: 5px
}
.list-color .slick-prev {
	left: -30px
}
.list-color .slick-next {
	right: -35px
}
.list-color .slick-next, .list-color .slick-prev {
	margin-top: -20px
}
.list-color .slick-slide span {
	text-transform: uppercase;
	display: block
}
.left-product {
	padding-right: 20px
}
.table-product tr th {
	text-align: center;
	font-weight: 400;
}
.color-red, .dont-forget a, .dont-forget h3, .table-product .price-table {
	color: #ff2a36
}
.table-product tbody tr td {
	vertical-align: middle;
	text-align: center;
	font-weight: 600;
	font-size: 15px;
	background: #fff;
	color: #0a2c3c;
}
.table-product select {
	border: 2px solid #000;
	padding: 5px
}
.total {
	text-align: right;
	font-size: 15px;
	margin-bottom: 10px
}
.btn {
	border-radius: 0
}
.btn-danger {
	background: #ff2a36;
	font-weight: 300!important
}
.shipping-product img {
	width: 100%
}
.shipping-product {
	margin: 20px -5px
}
.shipping-product .col-xs-4 {
	padding: 0 5px
}
.dont-forget {
	padding: 20px;
	text-align: center;
	background: #f0f0f0;
	margin-bottom: 20px
}
.dont-forget h3 {
	font-size: 17px;
	margin: 0;
	font-weight: 700
}
.dont-forget a {
	text-decoration: underline!important
}
.relate-product ul {
	padding: 0
}
.relate-product h3 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-top: 0;
	font-size: 22px;
	color: #ff2a36
}
.relate-product a {
	color: #333;
	margin-top: 10px
}
.relate-product img {
	width: 100%;
	height: 270px;
	/*margin-bottom: 10px*/
}
.rug_details p {
    font: 14px 'Open Sans', sans-serif;
    text-align: center!important;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
.ribbon-offer p {
    -webkit-transform: rotate(-45deg);
    text-align: left;
    text-align: left!important;
    width: 120px;
    margin: -10px 0px 0px 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.rug_details p.price {
    text-transform: capitalize;
}
.rug_details p.price span {
    color: #ff2a36;
    font-size: 18px;
}
.relate-product .view-btn {
    margin-top: 17px;
}
.relate-product .view-btn a {
    font: 14px 'Open Sans', sans-serif;
    color: #fff!important;
    background: #0a2c3c;
    padding: 12px 20px;
    display: inline-block;
    transition: .3s;
    margin: 0;
    text-transform: uppercase;
}
.relate-product .view-btn a:hover {
    background: #ff2534;
}
.btn-grey {
	background: grey;
	color: #fff
}
.box-show-review {
	text-align: center;
	border: 1px solid #ff2a36;
	padding: 20px;
	float: left;
	margin-top: 10px
}
.text-small {
	font-size: 11px;
	color: #ddd;
	clear: both
}
.over-review .out-review {
	float: left;
	border: 1px solid grey;
	text-align: center
}
.over-review .out-review h3 {
	color: #0a2c3c;
	margin: 0;
	padding: 5px 10px;
	font-size: 30px
}
.over-review .out-review span {
	display: block;
	color: #fff;
	background: grey;
	padding: 0 5px;
	position: relative;
	font-size: 12px
}
.over-review .out-review span:after {
	content: ' ';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px;
	border-color: transparent transparent grey;
	position: absolute;
	top: -7px;
	left: 50%;
	margin-left: -7px
}
.num-review {
	float: left;
	padding: 0;
	margin-left: 5px;
	margin-bottom: 0
}
.num-review li {
	margin-bottom: 2px
}
.num-review li label {
	width: 48px;
	float: left;
	font-size: 12px;
	color: #a9a9a9
}
.num-review li:first-child label {
	color: #0a2c3c
}
.star-review {
	float: left;
	margin-top: 5px
}
.star-review span {
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 1px solid #ccc;
	float: left
}
.star-review span.pull-star {
	background: #0a2c3c
}
.list-comment {
	padding: 0;
	margin: 20px 0;
	border-bottom: 1px solid #ddd
}
.helpful-comment p, .left-comment h3, .top-detail {
	margin-bottom: 5px
}
.list-comment>li {
	list-style: none;
	position: relative;
	padding-left: 195px;
	border-top: 1px solid #ddd
}
.list-comment>li .left-comment {
	position: absolute;
	top: 15px;
	left: 0;
	width: 195px
}
.left-comment h3 {
	margin-top: 0;
	color: #0a2c3c;
	font-size: 17px;
	font-weight: 700
}
.left-comment .text-small {
	color: grey
}
.helpful-comment {
	border-top: 1px solid #ddd;
	padding-top: 10px;
	margin-top: 10px
}
.content-comment {
	border-left: 1px solid #ddd;
	padding: 15px 0 15px 15px;
	min-height: 250px
}
.nav-comment {
	text-align: right;
	font-size: 15px
}
.nav-comment a {
	color: #333
}
.nav-comment a.active {
	color: #0a2c3c
}
.top-detail .over-review {
	float: left
}
.action-pro {
	float: right;
	text-align: right
}
.list-ac {
	padding: 0;
	margin-bottom: 0
}
.list-ac li {
	display: inline-block;
	margin-left: 10px
}
.list-ac li a {
	color: #a9a9a9;
	font-size: 12px
}
.fa.fa-share {
	color: #0a2c3c
}
.list-ac li a .fa-heart, .require {
	color: #ff2a36
}
.star-at {
	font-size: 17px
}
.star-at span {
	font-size: 25px
}
.product-name {
	margin-bottom: 10px
}
.product-name h2 {
	margin-top: 0;
	color: #ff2a36;
	margin-bottom: 0;
	font-weight: 600;
	font-size: 36px;

}
.form-comment {
	border: 1px solid #ddd;
	padding: 15px;
	margin: 15px 0
}
.form-comment .form-control {
	border-radius: 0
}
.form-comment .row {
	margin: 0 -5px
}
.form-comment .col-sm-4, .form-comment .col-sm-8 {
	padding: 0 5px
}
.form-comment .form-group {
	margin-bottom: 10px
}
.form-comment .form-group>label {
	font-size: 13px
}
.form-comment h4 {
	margin-top: 0;
	font-size: 14px;
	display: inline-block;
	border-bottom: 1px solid #ddd
}
.check-rate {
	border: 1px solid #ddd;
	text-align: center;
	padding: 5px
}
.rate-comment {
	position: relative;
	padding-left: 95px;
	font-size: 12px
}
.rate-comment .num-review {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px
}
.rate-comment .radio-inline input[type=radio] {
	margin-top: 3px!important;
	margin-left: -20px!important
}
.over-review {
	text-align: left
}
.over-review-mobile .out-review {
	float: left;
	border: 1px solid grey;
	text-align: center
}
.over-review-mobile .out-review h3 {
	color: #0a2c3c;
	margin: 0;
	padding: 5px 10px;
	font-size: 30px
}
.over-review-mobile .out-review span {
	display: block;
	color: #fff;
	background: grey;
	padding: 0 5px;
	position: relative;
	font-size: 12px
}
.over-review-mobile .out-review span:after {
	content: ' ';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px;
	border-color: transparent transparent grey;
	position: absolute;
	top: -7px;
	left: 50%;
	margin-left: -7px
}
.mini_sub_div {
    background: #f9f9f9;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto;
}
.mini_sub_div .fa-share{color:#fff;}
.quantity input[type='button']
{
    background: #0a2c3c;
    color: #fff;
    border: none;
    padding: 4px 8px;
    font-weight: 400;
    text-transform: capitalize;
}
@media only screen and (max-width: 991px){
	.product-page .product_descr{
		width: 100%;
	}
}
@media all and (min-width:320px) and (max-width:479px) {
.table-responsive table.table-product tbody tr td, .table-responsive table.table-product tbody tr th {
	font-size: 10px!important;
	padding: 2px!important
}
.related-name {
	font-size: 10px
}
}
@media all and (min-width:320px) and (max-width:768px) {
.dont-forget h3 {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 400
}
.dont-forget {
	font-size: 12px
}
.left-product {
	padding: 0
}
.slider-nav .slick-slide img {
	height: 60px
}
.box-show-review {
	margin-left: 0;
	margin-top: 10px;
	float: none
}
#reviews .pull-left {
	float: none!important
}
.list-comment>li {
	padding-left: 0
}
.list-comment>li .left-comment {
	position: relative;
	top: 0;
	padding-top: 10px;
	width: auto
}
.content-comment {
	border: 0;
	padding: 15px 0;
	border-top: 1px solid #ddd;
	min-height: 10px
}
.list-color .slick-next {
	right: -10px
}
.list-color {
	padding: 0 30px
}
.list-color .slick-prev {
	left: -10px
}
.nav-tabs>li>a {
	padding: 5px
}
.action-pro {
	float: none;
	text-align: left
}
.top-detail .over-review {
	float: none
}
.table-product img {
	width: 30px
}
}
@media (max-width: 767px){
	.product-name h2 {
	    font-size: 20px;
	}
	.caroufredsel_wrapper {
	    width: 100%!important;
	}
	.product-page .product_details{
		width: 100%;
	}
}
@media (max-width: 480px){
	.relate-product li.rug {
	    width: 100%;
	    margin-bottom: 20px;
	}
	.relate-product img{
		height: auto;
	}
}